@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.fuenteMenu {
  font-family: "Poppins", sans-serif;
  background: #f4801e;
}

.dropdown-menu.show {
    background: #f4801e;
}

.iconosMenu{
  background: #20262f;
  padding: 10px;
  border-radius: 500px;
  font-size: 21px;
}

